.chat-main
  .chat-main__header
    .chat-main__header__left-item
      .chat-main__header__left-item__group-name
        = @group.name
      %ul.chat-main__header__left-item__member-list
        Member : 
        - @group.users.each do |user|
          %li.chat-main__header__left-item__member-list__user-name
            = user.name

    = link_to edit_group_path(@group), class: "chat-main__header__btn-link" do
      .edit-botton
        Edit

  .chat-main__message-list
    = render @messages

  = form_for [@group, @message] do |f|
    .chat-main__message-form
      .chat-main__message-form__mask
        = f.text_field :content, class: 'chat-main__message-form__mask__text-area', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__mask__file-label' do
          = icon('far', 'image', class: 'chat-main__message-form__mask__file-label__icon-style')
          = f.file_field :image, class: 'chat-main__message-form__mask__file-label__btn-input'
      = f.submit 'Send', class: 'chat-main__message-form__submit-btn'